<%= form_for(@cell_phone) do |f| %>
  <% if @cell_phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cell_phone.errors.count, "error") %> prohibited this cell_phone from being saved:</h2>

      <ul>
      <% @cell_phone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :manufacturing_date %><br />
    <%= f.date_select :manufacturing_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :in_stock %><br />
    <%= f.check_box :in_stock %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
